<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Forom</key>
	<dict>
		<key>Searched</key>
		<integer>0</integer>
		<key>Stime</key>
		<real>0.01</real>
		<key>Sfound</key>
		<integer>0</integer>
		<key>Smark</key>
		<integer>0</integer>
		<key>Processed</key>
		<integer>0</integer>
		<key>Ptime</key>
		<real>0.01</real>
		<key>Pauto</key>
		<integer>0</integer>
	</dict>
	<key>Podnapisi</key>
	<dict>
		<key>Searched</key>
		<integer>0</integer>
		<key>Stime</key>
		<real>0.01</real>
		<key>Sfound</key>
		<integer>0</integer>
		<key>Smark</key>
		<integer>0</integer>
		<key>Processed</key>
		<integer>0</integer>
		<key>Ptime</key>
		<real>0.01</real>
		<key>Pauto</key>
		<integer>0</integer>
	</dict>
	<key>SeriesSub</key>
	<dict>
		<key>Searched</key>
		<integer>0</integer>
		<key>Stime</key>
		<real>0.01</real>
		<key>Sfound</key>
		<integer>0</integer>
		<key>Smark</key>
		<integer>0</integer>
		<key>Processed</key>
		<integer>0</integer>
		<key>Ptime</key>
		<real>0.01</real>
		<key>Pauto</key>
		<integer>0</integer>
	</dict>
	<key>SousTitresEU</key>
	<dict>
		<key>Searched</key>
		<integer>0</integer>
		<key>Stime</key>
		<real>0.01</real>
		<key>Sfound</key>
		<integer>0</integer>
		<key>Smark</key>
		<integer>0</integer>
		<key>Processed</key>
		<integer>0</integer>
		<key>Ptime</key>
		<real>0.01</real>
		<key>Pauto</key>
		<integer>0</integer>
	</dict>
	<key>TVSubs</key>
	<dict>
		<key>Searched</key>
		<integer>0</integer>
		<key>Stime</key>
		<real>0.01</real>
		<key>Sfound</key>
		<integer>0</integer>
		<key>Smark</key>
		<integer>0</integer>
		<key>Processed</key>
		<integer>0</integer>
		<key>Ptime</key>
		<real>0.01</real>
		<key>Pauto</key>
		<integer>0</integer>
	</dict>
	<key>TVSubtitles</key>
	<dict>
		<key>Searched</key>
		<integer>0</integer>
		<key>Stime</key>
		<real>0.01</real>
		<key>Sfound</key>
		<integer>0</integer>
		<key>Smark</key>
		<integer>0</integer>
		<key>Processed</key>
		<integer>0</integer>
		<key>Ptime</key>
		<real>0.01</real>
		<key>Pauto</key>
		<integer>0</integer>
	</dict>
	<key>Local</key>
	<dict>
		<key>Searched</key>
		<integer>0</integer>
		<key>Stime</key>
		<real>0.01</real>
		<key>Sfound</key>
		<integer>0</integer>
		<key>Smark</key>
		<integer>0</integer>
		<key>Processed</key>
		<integer>0</integer>
		<key>Ptime</key>
		<real>0.01</real>
		<key>Pauto</key>
		<integer>0</integer>
	</dict>
	<key>MySource</key>
	<dict>
		<key>Searched</key>
		<integer>0</integer>
		<key>Stime</key>
		<real>0.01</real>
		<key>Sfound</key>
		<integer>0</integer>
		<key>Smark</key>
		<integer>0</integer>
		<key>Processed</key>
		<integer>0</integer>
		<key>Ptime</key>
		<real>0.01</real>
		<key>Pauto</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
